<% if !user_signed_in? %>
<style>
body {
  background: linear-gradient(
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.7)
), url("/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
  font-weight: bold;
}

h3 {
  color: white;
  font-weight: bold;
}

.container-index {
  margin-left: 15%;
  margin-right: 15%;
  color: white;
}

.text {
  color: white;
  font-weight: heavy;
  font-size: 150%;
}

.log-in {
  float: right;
  width: 300px;
  height: 150px;
  margin-top: 7.5%;
}

.sign-up {
  float: right;
  width: 300px;
  height: 250px;
}

</style>
<div class="container-index row">
  <div class="col-sm-6">
  <h1>Welcome To Q&L </h1>
  <h3>Question and Lawyer </h3>

<p class="text">
  Get an answer to your legal problem in 4 lines or less!
</p>
  </div>

<div class="col-sm-6">
  <div class="log-in panel">
    <!-- <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path(:user) %>
    <% end %> -->
  </div>

  <div class="sign-up panel">
    <!-- <h2>Sign up</h2>
    <%= f.label :username %><br />
   <%= f.text_field :username, autofocus: true %>

   <%= f.label :email %><br />
   <%= f.email_field :email %>

  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <%= f.submit "Sign up" %> -->


  </div>
</div>

</div>

<% else %>

<script> document.location = "/home" </script>

<% end %>
